*{
    text-align: center;
}
ul{
    text-align: right;
}
li{
    display: inline;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
a{
    display: inline;
    padding: 10px;
    margin: 15px;
}
.box{
    background color : orange;
    color : white;
}
