body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: black;
}
.header {
  height: 200px;
  margin-top: 10px;
}
#Abhishek {
  float: left;
  margin-left: 10px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  float: right;
}
li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  color: rgb(237, 224, 224);
}
.text-1 {
  font-size: 175px;
  font-family: sans-serif;
  margin-left: -229px;
  color: rgb(203, 186, 186);
}
.text-block-2 {
  margin-top: -82px;
}
.text-2 {
  font-size: 155px;
  margin-left: -210px;
  color: rgb(203, 186, 186);
}
h1 {
  font-size: 158px;
  font-weight: lighter;
  margin-bottom: -80px;
  margin-top: 50px;
}
.text-about {
  background-color: white;
  color: black;
  padding: 30px 0px 30px 0px;
  margin-top: 20px;
}
.contact-heading {
  margin-top: 100px;
  margin-bottom: 100px;
}
#about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.skills {
  display: flex;
  color: black;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
}
.skill {
  background-color: rgb(243, 236, 236);
  margin: 9px;
  width: 45vh;
  height: 250px;
  box-shadow: 5px 5px 5px 0 rgb(199, 184, 184);
}
.skills .skill:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 5px 0 rgb(199, 184, 184);
}
.projects {
  display: flex;
  color: black;
  width: 100%;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  background-color: white;
}
.projects div {
  margin: 10px;
  width: 45vh;
  height: 250px;
  box-shadow: 5px 5px 5px 0 rgb(199, 184, 184);
  background-color: rgb(243, 236, 236);
}
.projects div:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 0 rgb(199, 184, 184);
}
p {
  margin-top: 120px;
}
h2 {
  font-size: 40px;
}
.icons {
  width: 100%;
  height: 50px;
}
#nav-icon {
  display: none;
}
.icon {
  background-color: white;
  padding: 100px;
}
#contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
#myprojects {
  margin-top: 100px;
  margin-bottom: 100px;
}
#myskills {
  margin-top: 100px;
  margin-bottom: 100px;
}
.social-link {
  padding: 20px;
  color: black;
}
#stopwatch {
  margin-top: 60px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}
.social-link :hover {
  transform: translateY(-20px);
}
img {
  height: 50px;
}

@media (max-width: 700px) {
  nav {
    height: 50vh;
    margin: 0%;
    padding: 0%;
  }
  .header {
    height: 100vh;
  }
  .nav {
    height: 100vh;
    width: 200px;
    text-align: left;
    position: absolute;
    top: 0%;
    right: 0%;
  }
  .nav ul {
    margin-left: 250px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
    background-color: rgb(44, 42, 42);
  }
  .nav ul li {
    margin: 10px;
  }
  .nav ul li a {
    color: rgb(255, 255, 255);
  }
  .intro-text {
    font-size: 100px;
    margin-bottom: -50px;
  }
  .text-1,
  .text-2 {
    font-size: 100px;
    margin-left: -80px;
  }
  .text-block-2 {
    margin-top: -45px;
    margin-left: 20px;
  }
  .icon {
    display: inline-block;
  }
  #nav-icon {
    margin-top: -10px;
    margin-left: 140px;
    display: block;
    font-size: 60px;
    cursor: pointer;
  }
  #Abhishek {
    font-size: 30px;
  }
}