*{
    margin: 0%;
    padding: 0%;
    background-color: orange;
}

a{
    color: white;
    font-size: 15px;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: orange;
    
}
nav{
    list-style: none;
    float: right;
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
li{
    display: inline-block;
    background-color: orange;
    font-weight:800;
    padding: 10px;
    margin: 5px;
    background-size :10px;

}
ul li a {
    color : white;
    text-decoration:none;
    font-weight: 800;
    font-size: 15px;
    display: inline-block;
    padding: 0;
    margin: 0;
    display: flex;
}
.about { 
    text-align: center;
    padding-top: 100px;
}
.skills{
    text-align: center;
}
.projects{
    text-align: center;
}
.contact{
    text-align: center;
}
h2{
    display: block;
    font-size: 30px;
    background-color: orange;
    color: white;
}
.blank{
    background-color: white;
    height: 5px;
    display: flexbox;
}